
<div class = "transitions-enabled">
    <div class = "box panel panel-default">

      <img src="assets/test.jpg">
        
        <div class="panel-body">
          <p><strong>Product 1</strong></p>
          <p>First few sentences of description</p>
          <p>Key functionalities</p>
          <p>Price - click for more details</p>
          <p>Get more details</p>


            
        </div>
    </div>
</div>

<div id="pins" class="transitions-enabled">
    <div class="box panel panel-default">

      <img src="assets/test.jpg">
        
        <div class="panel-body">
          <p><strong>Product 2</strong></p>
          <p>First few sentences of description</p>
          <p>Key functionalities</p>
          <p>Price - click for more details</p>
          <p>Get more details</p>


            
        </div>
    </div>
</div>

<div class = "transitions-enabled">
    <div class = "box panel panel-default">

      <img src="assets/test.jpg">
        
        <div class="panel-body">
          <p><strong>Product 3</strong></p>
          <p>First few sentences of description</p>
          <p>Key functionalities</p>
          <p>Price - click for more details</p>
          <p>Get more details</p>


            
        </div>
    </div>
</div>
