<div class="container">
<div class="jumbotron center">
	
	<h1>Melhores softwares e sistemas para pizzarias</h1>

	O só comparação independente de todos os softwares para restaurantes e pizzarias

	Veja sistemas:


		<%= link_to "Veja por qualidade", "#", class: "btn btn-success" %>
		<%= link_to "Veja por preço", "#", class: "btn btn-success" %>
		<%= link_to "Veja por custo benefício", "#", class: "btn btn-success" %>
		<%= link_to "Veja nosso pacote sugerido por todos os restaurantes", "#", class: "btn btn-success" %> 

 </div>
 </div>