

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      
      <div class="panel-heading">
        	       

     	<div style="float:left">        	<img src="assets/test.jpg" style="height:100px; width:100px;"></div>
		<div style="float:center">       <div class="page-header"><h1>Pizzaria Free</h1></div></div>
		<div style="float:right">       <h5>Software e sistemas para pizzarias</h5></div>
		<div style="clear:both">      </div>
      
      </div>


      
      





        <div class="panel-body">
		<h2>O que a empresa fala:</h2>
			<p>Quem tem uma pizzaria ou estabelecimentos do tipo sabe que é necessário um bom sistema para administração e controle, para que a empresa funcione perfeitamente, atendendo a todos os clientes e garantindo a satisfação dos mesmos. O Pizzaria Free é um sistema para pizzarias, restaurantes e empresas que trabalham com entregas.</p>

			<p>O programa foi projetado para ser simples e de fácil entendimento. As telas são descomplicadas e bastante intuitivas, seus funcionários saberão de imediato como utilizar o software. Não é necessário treinamento ou conhecimentos avançados. Você pode utilizar atalhos para criar novos pedidos no balcão, pedidos de entrega e reimprimir pedidos, facilitando e agilizando o atendimento.
			</p>

			<p>A tela para realizar pedidos de entrega é totalmente integrada e permite um rápido atendimento ao cliente. Para criar um novo pedido, basta inserir o telefone do cliente e clicar em Buscar. Caso o cliente ainda não seja cadastrado, você poderá cadastrá-lo na hora, preenchendo o formulário. Caso já seja cadastrado, os dados serão apresentados.
			</p>
			<p>Então é só clicar no botão `Novo Pedido` e uma tela lateral é apresentada. Para agilizar, você pode procurar os produtos por código ou descrição. Os valores são apresentados automaticamente. Se o cliente preferir uma pizza de dois, três ou quatro sabores, bata escolher os sabores e o sistema automaticamente irá calcular o valor da pizza.
			</p>
			<p>Existe a possibilidade de inclusão de alguma observação, como alguma objeção que o cliente possa fazer para a entrega, entre outros. Escolha a forma de pagamento e clique no botão `Calcular Total do Pedido`. O valor final é apresentado. Então é só colocar quanto você irá receber do cliente e o sistema calcula quanto (e se) vai precisar de troco. Salve e imprima o pedido e o entregador estará pronto para efetuar a entrega.
			 </p>
			<img src="assets/testdesktop.jpg">
        </div>


<hr>

<br>
<br>
<br>
<br>

  <div class="well well-header well-listing" >

    <div class="table-responsive" style="position: relative; left: 0; top: 0;">
      <table table class="table">
      <tr>
      <td>Gratuito para testar?</td>
      <td>Sim</td>
      </tr>
      <tr>
      <td>Functionalidades pago</td>
      <td><img src="assets/blur.jpg"></td>
      </tr>
      <tr>
      <td></td>
      <td><img src="assets/blur.jpg"></td>
      </tr>
      <tr>
      <td></td>
      <td><img src="assets/blur.jpg"></td>
      </tr>
      <tr>
      <td>Ingles / português</td>
      <td><img src="assets/blur.jpg"></td>
      </tr>
      <tr>
      <td>Popularidade nos sites de download:</td>
      <td><img src="assets/blur.jpg"></td>
      </tr>
      <tr>
      <td>Compare with others</td>
      <td><img src="assets/blur.jpg"></td>
      </tr>
      </table>

	      <div style="position: absolute; top: 100px; left: 800px;">
	      <%= link_to "Register for full details", "#", class: "btn btn-success" %> 
	      </div>
    </div>
  </div>

<hr>
    <div class="panel-body">
		<h4>Nosso Avaliação:</h4>
	
		<div align="center">
<div style="position: relative; left: 0; top: 0;">
  <img src="assets/blur.jpg" style="position: relative; top: 0; left: 0; width:col-md-1000px;height:200px;">
  <div style="position: absolute; top: 60px; left: 500px;">
  	<%= link_to "Register for full details", "#", class: "btn btn-success" %> 
  </div>
</div>
</div>

<hr>
    <div class="panel-body">
		<h4>Avaliação e comentários de usuarios:</h4>
	
		<div align="center">
<div style="position: relative; left: 0; top: 0;">
  <img src="assets/blur.jpg" style="position: relative; top: 0; left: 0; width:col-md-1000px;height:200px;">
  <div style="position: absolute; top: 60px; left: 500px;">
  	<%= link_to "Register for full details", "#", class: "btn btn-success" %> 
  </div>
</div>	
	    
				
			
	    </div>
    </div>

 

    </div>
  </div>
</div>